<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form </title>
</head>
<body>
    <h1>Enter your Feedback</h1>
    <form action="/feedback" method="post" onsubmit="validate(event)">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br><br>

        <textarea name="feedback" id="feedback" rows="5" cols="50"></textarea><br><br>
        <input type="submit" value="Send" name="" id="">
    </form>
    <script src="{{ url_for('static', filename = "js/script.js") }}"></script>
</body>
</html>